#body{
  display: flex;
  position: center;
  background-size: cover  
}
.quote{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px black;
}
#weather{
  display: flex;
  color: white;
  text-shadow: 0 0 10px black;
  justify-content: flex-end
}
#todo{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-shadow: 0 0 10px black;
}